header{
    // /* background-color:oldlace; */
    /* background-image: url(../imag/fondo.jpg); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-direction: row;
}
.logo {
    width: 50%;
    display: flex;

}
.imgLogo{
    width: 70%;
  
}
.imgLogo img {
    width: 30%;
    display: flex;
}
.wss {
    display: none;

}
h1{
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    line-height: 100px;
}
nav {
    width: 50%;
    margin-bottom: 20px;
}