* {
    margin: 0;
    padding: 0;
 }
 body{
    background-image: url(../imag/fondo3.jpg);
    background-size: cover;
    background-position: 200% auto;
}
/* header */

header{
    /* background-color:oldlace; */
    /* background-image: url(../imag/fondo.jpg); */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    width: 50%;
    display: flex;

}
.imgLogo{
    width: 70%;
  
}
.imgLogo img {
    width: 30%;
    display: flex;
}
.wss {
    display: none;

}
h1{
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    line-height: 100px;
}
nav {
    width: 50%;
    margin-bottom: 20px;
}
h2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
#ropa h2{
    text-align: center;
}
.productosmujer{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
article{
    display: flex;
    flex-direction:column-reverse;
    width: auto;
    margin: 0 auto;
}
article h4{
    text-align: center;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.caja{
    min-height: 400px;
    min-width: 300px;
    margin: 0 auto;
    border: white solid 10px;
    justify-items: center;
    align-items: center;
}
.caja:hover{
    filter: blur(5px);
}
.caja1{
    grid-column: 1/2;
    grid-row: 1;
    background-image: url(../imag/remera.jpg);
    background-size: cover;
    background-position: center;
}
.caja2{
    grid-column: 2;
    grid-row: 1/2;
    background-image: url(../imag/pollera.jpg);
    background-size: cover;
    background-position: center;
}
.caja3{
  grid-row: 2;
  grid-column: 2;
  background-image: url(../imag/jean.jpg);
  background-size: cover;
    background-position: center;
}
.caja4{
    grid-row: 2; 
    grid-column: auto;
    background-image: url(../imag/conjunto.jpg);
    background-size: cover;
    background-position: center;
}
.caja5{
    grid-row: 2;
    grid-column: 2;
    background-image: url(../imag/conjunto2.jpg);
    background-size: cover;
    background-position: center;
}
.caja6{
    grid-row: 2;
    grid-column: auto;
    background-image: url(../imag/conjunto3.jpg);
    background-size: cover;
    background-position: center;
} */

footer{
    text-align: center;
    margin: 50px;
}
@media only screen and (min-width: 481px) {
    h1 {
        display: block;
    }
    .logo {
        width: 70%;
    }
    .imgLogo {
        width: 70%;
    }
    nav {
        width: 30%;
    }

}
@media only screen and (min-width: 769px) {

    .contenedor {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .caja {
        width: 40%;
    }
}
@media only screen and (min-width: 1024px) {
   .contenedor{
       grid-template-columns: repeat(3, 1fr);
       flex-direction:row-reverse;
   }
   .caja{
       display: grid;
       height: 30em;
       width: 35%;
       flex-basis: 100%;
   }
.imgLogo {
    width: 60%;
    display: flex;
    height: 150px;
}
.wss{
    display: flex;
    position: fixed;
    top: 5em;
    left: 80em;
    width: 40px;
    height: 40px;
    border: none;
}
footer{
    text-align: center;
    margin: 50px;
}
}

